extends layout

block content
  div.container
    div.jumbotron
      h1= title
      p Welcome to #{title}
      div.main
  div.svgHolder
  div.container#formHolder
    span Add a book to tracking: 
    input#new-book-name(type='text' placeholder='Title')
    input#new-book-author(type='text' placeholder='Author')
    input#new-book-url(type='text' placeholder='Amazon URL')
    input#submit(type='button' value='Add Book')