doctype html
html
  head
    title= title
    link(href='/stylesheets/bootstrap.min.css' rel='stylesheet')
    block scripts
      script(src="jquery/dist/jquery.min.js")
      script(src="d3/d3.min.js")
      script(src="underscore/underscore-min.js")
  body(ng-app="littracker")
    script(src="angular/angular.min.js")
    script(src="angular-ui-router/release/angular-ui-router.min.js")
    block content
    script(src="javascripts/app.js")
    script(src="javascripts/model.js")
    script(src="javascripts/view.js")
    script(src="javascripts/grapher.js")
    script(src="javascripts/controller.js")
    script(src="javascripts/form.js")
    script(src="javascripts/navbar.js")