doctype html
html
  head
    title= title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css' rel="stylesheet")
    block scripts
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
      script(src="javascripts/grapher.js")
  body
    block content
    script(src="javascripts/form.js")
