<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
    <h2>About LitTracker</h2>
    <p>LitTracker dynamically displays Amazon sales ranking data for tracked books over time and across editions. The project demonstrates the (current) cyclical nature of the sales ranking algorithm &amp the high variability of ranking for relatively low-ranked books. Built with JavaScript, Node.js/Express, postgreSQL, D3.js, HTML, CSS, and Bootstrap, and deployed with Heroku.</p>
    <p>I conceived of LitTracker during an internship at a literary agency. Among other (much more fun) tasks, I was tasked with entering the Amazon and Barnes and Noble sales rankings for all the books in my literary agency's stable. The number of books was a gazillion, plus or minus ten trillion, plus or minus Most Boring Task Ever. I figured other people might be interested in seeing how sales rankings changed as well, and LitTracker is the result. Also, fun with D3.js and scraping!</p>
    <h2>About Me</h2>
    <p>Hi! I'm Tessa Kelly. Stalk me elsewhere if you want to know more.</p>
  </div>
</div>
