<div class="svgHolder" ng-controller="graphController">
  <section ng-repeat="book in books">
    <div class='container' id='visualization{{ book.book_id }}'>
      <div class='text-center'>
        <h3><em><strong>{{ book.name }}</strong></em> by {{ book.author }}</h3>
        </div>
        <form ng-submit="addEditionURL(book)">
          <div class="form-group">
            <label for="url{{ book.book_id }}">New URL: </label>
            <input type="text" id="url{{ book.book_id }}" placeholder="New Edition URL" ng-model="book.url"></input>
          </div>
          <div class="form-group">
            <label for="edition{{ book.book_id }}">Edition: </label>
            <input type="text" id="edition{{ book.book_id }}" placeholder="Edition" ng-model="book.edition"></input>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm">Add an edition</button>
          </div>
        </form>
      </div>
    <br><hr><br>
  </section>
</div>
