<div class="svgHolder">
  <script type="text/javascript" src="javascripts/model.js"></script>
  <script type="text/javascript" src="javascripts/view.js"></script>
  <script type="text/javascript" src="javascripts/grapher.js"></script>
  <script type="text/javascript" src="javascripts/form.js"></script>
  <script type="text/javascript" src="javascripts/controller.js"></script>
</div>

<div class="container" id="formHolder">
  <span>Add a book to tracking:</span>
  <input id="new-book-name" type="text" placeholder="title"></input>
  <input id="new-book-author" type="text" placeholder="author">
  <input id="new-book-url" type="text" placeholder="Amazon URL">
  <input id="new-url-desc" type="text" placeholder="Edition">
  <input id="submit" type="button" value="Add Book">
</div>